cx-Freeze==6.7
gunicorn
python-dotenv
cryptography
Flask
flatbuffers==1.12
future==0.18.2
idna==3.2
importlib-metadata==4.8.1
Jinja2==3.0.1
joblib==1.0.1
keras==2.6.0
keras-nightly==2.7.0.dev2021090307
Keras-Preprocessing==1.1.2
nltk==3.6.2
numpy==1.19.5
pandas
python-dateutil
pytz
PyYAML
random2
requests
requests-oauthlib
rsa
six
SQLAlchemy
tensorflow
tensorflow-estimator
tensorflow-gpu
tensorflow-probability
tensorflow-io-gcs-filesystem
termcolor
textblob

tflearn
tqdm
typing-extensions
urllib3
virtualenv
